# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 只有那年胜过年年
subtitle: ''
description: ''
keywords:
author: 2025
language: zh-CN
timezone: ''

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: http://example.com
permalink: :year/:month/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# 分类设置
category_generator:
  per_page: 10
  order_by: -date

# 最近设置
recent_generator:
  per_page: 10
  order_by: -date

## 归档设置
#archive_generator:
#  per_page: 0
#  yearly: false
#  monthly: false

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole sit
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
#syntax_highlighter: highlight.js
syntax_highlighter: prismjs
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
#theme: landscape
theme: butterfly

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: ''

## CORS 配置
#cors:
#  enable: true
#  origins:
#    - https://walinecomments-gxccu74d8-chens-projects-7c4f92c5.vercel.app
#    - https://www.yourdomain.com
#    - http://localhost:4000
#  methods:
#    - GET
#    - POST
#    - PUT
#    - DELETE
#    - OPTIONS
#  headers:
#    - Content-Type
#    - Authorization
#  credentials: true
#
## 在文件末尾添加
#server:
#  headers:
#    Access-Control-Allow-Origin: "*"
#    Access-Control-Allow-Methods: "GET, POST, PUT, DELETE, OPTIONS"
#    Access-Control-Allow-Headers: "Content-Type, Authorization"

# 通用 Sitemap
sitemap:
  path: sitemap.xml

# 百度 Sitemap (如果安装了)
baidusitemap:
  path: baidusitemap.xml
